services:
  dev:
    build:
      context: .
      target: dev
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - .:/app
      - /app/node_modules
  prod:
    build:
      context: .
      target: prod
    ports:
      - "8080:80"
